:root{
    --main-color:#c0392b;
    --body-bg:#181616;
    --box-bg:#221f1f;
    --text-color:#ffffff;

    --nav-height:3.75rem;
    --space-top:1.8rem;
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
html{
    font-size: 1rem;
}

body{
    font-family: "cairo", sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    padding-top: var(--nav-height);
}
a{
    text-decoration: none;
    color: unset;
}
img{
    max-width: 100%;
}
.main-color{
    color: var(--main-color);
}
.container{
    max-width: 120rem;
    padding: 0 2.5rem;
    margin: auto;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.nav-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #000000;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    height: var(--nav-height);
}
.nav a{
    color: var(--text-color);
}
.logo{
    font-size: 2rem;
    font-weight: 900;
}
.nav-menu{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
}
.nav-menu li ~ li{
    margin-left: 1.8rem;
}
.nav-menu a{
    text-transform: uppercase;
    font-weight: 700;
}

.nav-menu a:hover{
    color: var(--main-color);
}
.nav-menu a.btn:hover,
a.logo:hover,
a.movie-item:hover {
    color: unset;
}
.btn{
    color: #ffffff;
    padding: .25rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    align-items: center;
}
.btn-watch{
    color: #ffffff;
    padding: .25rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    align-items: center;
}
.btn-hover::before{
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: var(--main-color);
    transition: 0.3s ease-in-out;
}
.btn-hover:hover::before{
    width: 100%;
    transition: all 0.5s ease-in-out;
    background-color: yellowgreen;
}
.bxs-star,
.bxs-time{
    color: var(--main-color);
}
.btn-watch i,
.btn-watch span,
.btn i,
.btn span{
    z-index: 1;
}
.btn i{
    margin-right: 1rem;
}
.hamburger-menu{
    --size:30px;
    height: var(--size);
    width: var(--size);
    cursor: pointer;
    z-index: 101;
    position: relative;
    display: none;
    align-items: center;
}
.hamburger{
    position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after{
    width: var(--size);
    height: 3px;
    border-radius: 0.5rem;
    background-color: var(--text-color);
    transition: 0.4s;
}
.hamburger::before,
.hamburger::after{
    content: "";
    position: absolute;
    left: 0;
}
.hamburger::before{
    top: -10px;
}
.hamburger::after{
    bottom: -10px;
}
.hamburger-menu.active .hamburger{
    background-color: transparent;
}
.hamburger-menu.active .hamburger::before{
    transform-origin: top left;
    transform: rotate(45deg);
    left: 6px;
}
.hamburger-menu.active .hamburger::after{
    transform-origin: bottom left;
    transform: rotate(-45deg);
    left: 6px;
}
/*VIDEO PAGE*/
.hero-slide-item{
    padding-top: 40%;
    position: relative;
    overflow: hidden;
}
.hero-slide-item img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.hero-slide-item-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color:var(--text-color);
    display: flex;
}
.item-content-wrapper {
    padding-left: 5rem;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.item-content-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0));
}
.item-content-title{
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 900;
}
.movie-infos{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: calc(var(--space-top)/ 2);
}
.movie-info{
    display:flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
}
.movie-info span{
    margin-left: 5px;
}

.movie-info ~ .movie-info {
    margin-left: 5px;
}
.item-content-description{
    font-size: 1.15rem;
    margin-top: var(--space-top);
    line-height: 1.5rem;
}
.item-action{
    margin-top: var(--space-top);
}
/*CAST CSS*/
.container-head{
    padding-left: 5px;
    margin-top: 5rem;
    margin-left: 5rem;
    border: 1px solid;
    width: 40%;
    border-style: none;
    border-left:10px solid rgb(74, 24, 209);
}
.grid{
    margin: 5rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:30px;
    align-items: center;
}
.grid > article{
    background: #eee5e9;
    bottom: none;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    text-align: center;
    width: 80%;
    transition: transform 0.3s;
}
.grid > article:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
}
.grid > article img{
    width: 100%;
    height: 50%;
    border-top-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
}
.text{
    color: rgba(0, 0, 0, 0.8);
    padding: 0 20px 20px;
}
.text h3{
    margin-top: 10px;
    text-transform: uppercase;
}
.text p{
    margin-top: 10px;
}
.text button{
    background: rgb(156, 162, 212);
    border-radius: 20px;
    border: none;
    color: #fff;
    padding: 10px;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
}
/*RESPONSIVE*/
@media(max-width:720px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .btn-watch{
        margin-top: 10px;
    }
}
@media(max-width:500px){
    .grid
   {
       grid-template-columns: repeat(1, 1fr);
   }
   .grid > article{
        text-align: center;
        width: 40%;
   }
}
@media only screen and (max-width: 1280px){
    html{
        font-style: 14px;
    }
    .hero-slide-item{
        padding-top: 50%;
    }
    .item-content-wrapper{
        width: 50%;
    }
}
@media only screen and (max-width: 850px){
    html{
        font-size: 12px;
    }
    .hero-slide-item {
        height: max-content;
        padding-top: unset;
    }

    .item-content-wraper {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
        padding-right: 5rem;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .hero-slide-item-content {
        position: relative;
    }

    .hero-slide-item img {
        height: 100%;
    }
    .item-content-title {
        font-size: 3rem;
    }
    .hamburger-menu{
        display: grid;
    }
    .nav-menu{
        /*display: none;*/
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: #000000;
        flex-direction: column;
        width: 80%;
        height: 100vh;
        padding: 20px;
        transition: 0.5s ease-in-out;
    }
    .nav-menu li{
        margin: 10px 30px;
    }
    .nav-menu.active{
        left: 0;
    }
}